<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head.ejs")%>

<body>
	
	<%- include("./partials/header.ejs")%>
	
	<!-- Banner -->
	<div class="banner">
		<img src="https://www.swatch.com/dw/image/v2/BDNV_PRD/on/demandware.static/-/Library-Sites-swarp-global/default/dw50de51e1/images/Swatch/plp/d_redwatches_1920x750.jpg">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
				<% for (let i = 0; i <productosHome.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/id/2"> 
								<figure class="product-box_image">
									<img src="<%=productosHome[i].imagen%>" alt="">
								</figure>
								<article class="product-box_data">
									<h2> <a href="/products/id/2"> <%=productosHome[i].nombre%> </a></h2>
									<p> <%=productosHome[i].descripcion%> </p>
									<p>Comentarios: <%=productosHome[i].comentarios.length%> </p>

								</article>
							</a>
						</section>
					</div>
				 <% } %>
			</div>
		</div>
	</div>

	<%- include("./partials/footer.ejs")%>
	
</body>	
</html>