<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
 
<%- include("./partials/head.ejs")%>

<body>

	<% if (locals.user) { %>
		<%- include('partials/headerLogueado.ejs') %>
	  <% } else { %>
		<%- include('partials/header.ejs') %>
	  <% } %>
	  

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productoDetalle.nombreProducto %>
			</h2> 
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%=productoDetalle.fotoProducto%>" 
					 alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= productoDetalle.descProducto %></p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
					
							<% for (let i = 0; i <productoDetalle.comentarios.length; i++) { %>	
								<article>
								
								<div class="data">
									<h2 class="user"> <a href="/profile/<%= productoDetalle.comentarios[i].usuarios.idUsuario%>"> <%= productoDetalle.comentarios[i].usuarios.nombreUsuario%> </a></h2>
									<p class="user"> <%=productoDetalle.comentarios[i].comentario%> </p>
								</div>
							</article>
							 <% } %>

					</section>
					<form class="form" action="/products/comentarios/<%= productoDetalle.idProducto %>" method="POST">
						<input class="form-input" type="text" name="comentario" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include("./partials/footer.ejs")%>

</body>	
</html>