<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head.ejs")%>

<body>
	
	<%- include("./partials/header.ejs")%>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> </h2>
				<% for (let i = 0; i <searchProducts.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/products/id/<%= searchProducts[i].idProducto %>"> 
							<figure class="product-box_image">
								<img src="<%=searchProducts[i].fotoProducto%>" alt="">
							</figure>
							<article class="product-box_data">
								<h2> <a href="/products/id/<%= searchProducts[i].idProducto %>"> <%=searchProducts[i].nombreProducto%> </a></h2> <!-- No se si hay que borrar el /id o no -->
								<p> <%=searchProducts[i].descProducto%> </p>
								
							</article>
							<p>Publicado por:<a href="/profile/<%= searchProducts[i].idUsuario %>" class="saludo"> <%= searchProducts[i].usuarios.nombreUsuario %>
								</a>
							  </p>
							  
						</a>
					</section>
					</div>
				<% } %>
			</div>
		</div>
	<%- include("./partials/footer.ejs")%>

</body>

</html>